body {
    background-image: url('Night.jpeg'); /* Replace with your image path */
    background-size: cover; /* Cover the entire viewport */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Keep the image fixed during scrolling */
    background-position: center; /* Center the image */
    margin: 0; /* Reset default margin */
    padding: 0;
    font-family: 'Cabin', sans-serif;
}

/* Initial state of the elements */
.fade-in-element {
    opacity: 0;
    transform: translateY(70px); /* Adjust as needed, can also use translateX for horizontal movement */
    transition: opacity .6s ease-out, transform .6s ease-out;
}

/* State of the elements when they are visible */
.visible {
    opacity: 1;
    transform: translateY(0);
}


header {
    position: sticky; /* Make header sticky */
    top: 0; /* Stick to the top of the viewport */
    z-index: 5;
}

html {
    scroll-behavior: smooth;
}

h2 {
    color: #777;
    letter-spacing: 2px;
    line-height: 25px;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-left: auto;
    display: flex; /* Make the navigation items horizontal */
}

nav li {
    font-family: 'Cabin', sans-serif;
    margin-right: 60px; /* Adjust spacing between navigation items */
    font-size: 25px;
}

nav a {
    text-decoration: none;
    color: #fff; /* Set text color */
    position: relative;
    display: inline-block; /* Ensures the pseudo-element aligns correctly */
}

nav .navbar-nav .nav-link {
    position: relative;
    display: inline-block; /* Ensures the pseudo-element aligns correctly */
}

/* The underline */
nav .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 7px; /* Adjust based on the desired distance from the text */
    left: 0;
    width: 100%;
    height: 2px; /* Thickness of the underline */
    background-color: #777; /* Color of the underline */
    transform: scaleX(0); /* Start with no underline */
    transform-origin: left;
    transition: transform 0.3s ease-in-out; /* Smooth transition for the underline */
}

/* Expand the underline on hover */
nav .navbar-nav .nav-link:hover::after {
    transform: scaleX(1); /* Fully expand the underline on hover */
}

nav {
    margin-left: auto;
}

.name-container {
    position: sticky;
    top: 20%;
    left: 10%;
    font-size: 48px; /* Adjust the font size as needed */
    font-family: 'Cabin', sans-serif;
    color: #ffffff; /* Text color */
    letter-spacing: 15px;
    z-index: 0;
    margin-left: 5%;
    transition: top .8s ease-in-out;
}

.portfolio-name-container {
    position: sticky;
    font-size: 48px; /* Adjust the font size as needed */
    font-family: 'Cabin', sans-serif;
    color: #ffffff; /* Text color */
    letter-spacing: 5px;
    z-index: 0;
    top: 40%;
    margin-left: 5%;
}

.name-sticky {
    top: 60%; /* Set the sticky top position to 40% */
    left: 10%;
    margin-left: 5%;
}

.new-section {
    height: 100vh; /* Set a fixed height for the scrolling section */
    overflow-y: scroll; /* Enable vertical scrolling */
}

.new-content {
    background-color: #ffffff; /* White background for new content */
    position: relative;
    z-index: 1;
    padding: 20px; /* Add padding to the new content area */
    /* Add more styles for your new content as needed */
    color: #777;
    letter-spacing: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center; /* Vertically align items in the middle */
    justify-content: space-between; /* Space out the items */
}

.scroll-section {
    background-color: #ffffff; /* White background for new content */
    z-index: 1;
    padding: 20px; /* Add padding to the new content area */
    /* Add more styles for your new content as needed */
    color: #777;
    letter-spacing: 8px;
    box-sizing: border-box;
}

.about-me {
    color: #777;
    letter-spacing: 2px;
    line-height: 25px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 5%;
}

.skills-title {
    color: #777;
    letter-spacing: 2px;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 5%;
}

.picture {
    margin-right: 20%;
}

.art-section{
    text-align: center;
}

.contact-title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-section {
    color: #777;
    letter-spacing: 2px;
    line-height: 25px;
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
}

.image-size-1 img {
    height: 100%;
    max-height: 500px;  /* Adjust based on how big you want the images to be */
    transform: translateX(50px);
}

.image-size-2 img {
    height: 100%;
    max-height: 500px;  /* Adjust based on how big you want the images to be */
    transform: translateX(50px);
}

.image-size-3 img {
    height: 100%;
    max-height: 500px;
    transform: translateX(-50px);
}

.image-size-4 img {
    height: 100%;
    max-height: 500px;
    transform: translateX(-15px);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff; /* White text color */
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    background-color: #fff; /* White background */
    border-radius: 50%;
    padding: 10px;
    border: 2px solid #fff; /* White border */
}

.close:hover, .close:focus {
    color: #000; /* Color change for hover state for visibility */
    background-color: #fff;
    border: 2px solid #000;
}

/* Add Animation */
.modal-content, .close {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
